parameters:
  paths:
    - src

  level: 1

  ignoreErrors:
    -
      messages:
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::key\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\_]+::label\(\)#'
      paths:
        - src/Enums/*
